.container
  .jumbotron
    .container
      h1.text-center We Can Learn Anything
      p.text-center When We Learn Together
  .row
    .col-md-6
      div(ng-include="'/partials/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/new-courses'")