.navbar-right(ng-controller="mvNavBarLoginCtrl")
  form.navbar-form
    .form-group
      input.form-control(type="text", placeholder="Email", ng-model="username")
    .form-group
      input.form-control(type="password",placeholder="Password",ng-model="password")
    button(type="button", ng-click="signIn(username, password)").btn.btn-primary Sign In