doctype
html
  head
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(href="/css/bootstrap.min.css", type="text/css", rel="stylesheet")
    link(href="/vendor/toastr/toastr.css", type="text/css", rel="stylesheet")
    link(href="/css/site.css", type="text/css", rel="stylesheet")
  body
    block main-content
    include scripts
